﻿@using RockPaperScissors.Entities.Enums
@model IEnumerable<RockPaperScissors.Entities.Player>

@{
    ViewData["Title"] = "Play";
}

<h2>Play</h2>

<h4>Player</h4>
<hr />


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerCreatedDate)
                </td>
                @if (item.PlayerType == PlayerType.Human)
                {
                    <form asp-action="Play">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@item.PlayerId" />

                        <td>
                            <div class="form-group">
                                <label asp-for="@item.PlayerChoice" class="control-label"></label>
                                @Html.DropDownList("choice", Html.GetEnumSelectList<Choice>(), "select")
                                <span asp-validation-for="@item.PlayerChoice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Play" class="btn btn-default"/>
                            </div>
                        </td>

                    </form>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerChoice)
                    </td>
                }
              
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
