﻿@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@using RockPaperScissors.Entities.Enums
@using RockPaperScissorsApp.Models
@model GameViewModel

@{
    ViewData["Title"] = "PlayGame";
}

<h2>PlayGame</h2>
<style>
    #results {
       width: 100%
    }
</style>
<div>
    <div class="col-lg-12 table-bordered border">
        <div  class="col-lg-3">Number Of Tries:</div>
        <div  class="col-lg-3"> @Model.Game.NumberOfTries</div>
        @{
            var player1 = Model.Players.FirstOrDefault(x => x.PlayerId == Model.Game.Player1);
            var player2 = Model.Players.FirstOrDefault(x => x.PlayerId == Model.Game.Player2);
            if (Model.Game.NumberOfTries == 0)
            {
                if (player1?.Score > player2?.Score) {
                    <div  class="col-lg-3">@player1.PlayerName Won the Game</div>
                }

                else if (player2?.Score > player1?.Score) {
                    <div  class="col-lg-3">@player2.PlayerName  Won the Game</div>
                }
                else if (player2?.Score == player1?.Score)
                {
                    <div class="col-lg-3">This is a draw. both players have equal score!!</div>
                }

            }
        }
      
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>
                    Player Type
                </th>
                <th>
                    Player Name
                </th>

                <th>
                    Player Choice
                </th>
                <th>
                    Player Score
                </th>
               @if (Model.Game.NumberOfTries >0)
                {
                <th>
                    Chose
                </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form asp-action="Play">
                <input type="hidden" asp-for="@Model.Game.GameId" />
                <input type="hidden" asp-for="@Model.Players" />
                @for (int i = 0; i < Model.Players.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Players[i].PlayerType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Players[i].PlayerName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => Model.Players[i].PlayerChoice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Players[i].Score)
                        </td>
                        <input type="hidden" asp-for="@Model.Players[i].PlayerId" />

                        @if (Model.Players[i].PlayerType == PlayerTypeEnum.Human && Model.Game.NumberOfTries >0)
                        {

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <td>
                                <div class="form-group">
                                    @Html.DropDownList("humanChoice", Html.GetEnumSelectList<Choice>(), "select")
                                    <span asp-validation-for="@Model.Players[i].PlayerChoice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Play" OnClick="myFunction()" class="btn btn-default" />
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                &nbsp;&nbsp;
                            </td>
                        }


                    </tr>
                }
            </form>
        </tbody>
    </table>

</div>

