﻿@model RockPaperScissors.Entities.Game

@{
    ViewData["Title"] = "StartGame";
}

<h2>StartGame</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Player1" class="control-label"></label>
                @Html.DropDownListFor(x=>x.Player1, ViewBag.Players as SelectList)
                <span asp-validation-for="Player1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2" class="control-label"></label>
                @Html.DropDownListFor(x=>x.Player2, ViewBag.Players as SelectList)
                <span asp-validation-for="Player2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Start Game" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
