﻿@model RockPaperScissors.Entities.Player

@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerCreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerCreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
